body {
  background-color: #FF00FF;
}

#sugar-gliders-logo-container {
  text-align: center;
  margin: auto;
  max-width: 700px;
  width: 95%;
}

#sugar-gliders-logo-container img {
  width: 100%;
}

